

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Companmy Name </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="dept">Departemnt <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  >Testing </a></li>
            <li><a href="#">Developemt</a></li>
            <li><a href="#">HR</a></li>
          </ul>
        </li>
        <li><a href="#">galary </a></li>
        <li><a  routerLink="databind">Data Binding  </a></li>
        <li><a  routerLink="dirdemo">Directive Demo   </a></li>
        <li><a  routerLink="pipe">PIPE Demo   </a></li>\
        <li><a  routerLink="forms">Forms  Demo   </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a  routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

<!-- <div style="text-align: center">
  <app-a1></app-a1>
  <hr>
  <app-b1></app-b1>
  <hr>
  <app-c1></app-c1>
  <hr>
  <app-d1></app-d1>
</div> -->
<!-- 
<div>
  <div class="col-md-4">
    <app-rama></app-rama>
  </div>
  <div class="col-md-4">
    <app-seetha></app-seetha>
  </div>

  <div class="col-md-4">
    <app-ravana></app-ravana>
  </div>
</div> -->




<router-outlet></router-outlet>